.evaluation {
}

.evaluation__inner {
  //* Margin, paddings
  margin-top: 15px;
  padding: 8px;
}

.evaluation__title {
  //* Margin, paddings
  margin-right: 20px;

  font-size: 28px;
  font-weight: 700;
}
