.ant-select-selection-item {
  font-weight: 600 !important;
}

.talentpool {
}

.talentpool__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //* Margin, paddings
  margin-top: 15px;
  padding: 8px;
}

.talentpool__title {
  //* Margin, paddings
  margin-right: 20px;
  padding: 10px;

  font-size: 28px;
  font-weight: 700;
}

.talentpool__form {
  display: flex;
}

.talentpool_select-ant {
  width: 250px;

  //* Margin, paddings
  margin-left: 20px;

  font-weight: 800;
}

.jobsTalentButtons {
  margin-left: 20px;
}
