.feedback-item {
  background: #fff;
  box-shadow: 0px 0px 202px 0px rgba(0, 0, 0, 0.02);
  padding: 29px 31px 60px 23px;
}

.feedback-item__title {
  color: #2f2f2f;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feedback-item__job {
  color: rgba(196, 196, 196, 0.4);
  font-size: 16px;
  font-style: italic;
  line-height: normal;
}

.feedback-item__text {
  width: 353px;
}
