:where(.css-dev-only-do-not-override-1w4v3hc).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
  border-bottom: 1px solid #d9d9d9 !important;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

:where(.css-dev-only-do-not-override-1w4v3hc).ant-select-single
  .ant-select-selector {
  border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-1w4v3hc).ant-select .ant-select-arrow {
  color: #0050c8;
}

//* CUSTOM STYLES

.open-paused {
}

.open-paused__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //* Margin, paddings
  margin-top: 20px;
  margin-bottom: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  border: 2px solid #eeeded;
}

.job__title {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
}

.job__createdTime {
  font-weight: 700;
  font-size: 16px;
}

.open-paused__box {
  display: flex;
  align-items: center;

  border: 1px solid #eeeded;
  border-radius: 2px;

  .open-paused__block:nth-child(1) {
    background-color: #f3f3f3;
  }
}

.open-paused__block:nth-child(1) {
  display: block;
}

.open-paused__block {
  display: flex;
  justify-content: center;

  //* Margin, paddings
  //   margin-right: 20px;
  padding: 4px;

  & span {
    font-weight: 800;
  }
}

.open-paused__box-outer {
  min-width: 120px;
  width: 100%;
  max-width: 120px;
}

.open-paused__block:nth-child(1) {
  & span {
    margin-right: 8px;
  }
}

.open-paused__block:not(:first-child) {
  & span {
    // margin-left: 5px;
    margin-right: 8px;
  }
}

.open-paused__disQua {
  margin-left: 5px;
  margin-right: 8px;

  & span {
    margin-left: 5px;
    margin-right: 8px;

    font-weight: 800;
  }
}

.open-paused__dotsIcon {
  //* Margin, paddings
  padding: 3px;

  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}
