.dev-profile__menu {
  position: absolute;
  right: 0;
  top: 78px;
  width: 212px;
}

.dev-profile__menu-list {
  height: 62px;
  margin-bottom: 1px !important;
  padding-top: 1px !important;
}

.dev-profile__menu-item {
  background-color: #fff;
  border-bottom-width: 1px !important;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  // padding: 16px;
  border-left: 2px solid transparent;
  &:hover {
    border-left: 2px solid #0050c8;
  }
  &:hover ~ .dev-profile__account-wrapper {
    background-color: initial;
  }
}

.dev-profile__menu-link {
  display: inline-flex;
  width: 100% !important;
  height: 100% !important;
  padding: 16px;
}

.dev-profile__header-container {
  max-width: 1465px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dev-profile__header {
  background-color: #fff;
}

.dev-profile__header-left-wrapper {
  display: flex;
  align-items: center;
}

.dev-profile__header-logo {
  color: #0050c8;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dev-profile__header-label {
  margin-left: 16px;
  position: relative;

  &::after {
    content: url("../../../../Assets/Icons/search.svg");
    position: absolute;
    right: 15px;
    top: 7px;
  }
}

.dev-profile__header-search-input {
  padding: 8px 48px 8px 12px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #bfd4ff;
  background: #fff;
  font-size: 12px;
}

.dev-profile__header-right-wrapper {
  display: flex;
  align-items: center;
}

.dev-profile__nav-list {
  display: flex;
  align-items: center;
  // gap: 32px;
}

.dev-profile__nav-item {
  cursor: pointer;
}

.dev-profile__navigation-link {
  padding: 15px 16px 15px 16px;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #dadada;
  }
}

.dev-profile__account-wrapper {
  position: relative;
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #dadada;
  }
}

.dev-profile__account-image {
  background-color: #0050c8;
  padding: 11px;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-profile__account-name {
  color: #212121;
  font-size: 19px;
  font-weight: bolder;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5px;
}

.dev-profile__account-nation {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
