.dev-profile {
  color: #000000de;
}

//General styles

.dev-profile__edit-btn {
  background: #eaf0ff;
  color: #3a6fff;
  font-size: 0.875rem;
  padding: 8px 12px;
  font-weight: 600;
  min-width: 4rem;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  cursor: pointer;
}

.dev-profile__edit-btn-2 {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px;
}

.dev-profile__delete-btn {
  background: #e75d18;
  color: #fff;
  font-size: 0.875rem;
  padding: 8px 12px;
  font-weight: 600;
  min-width: 4rem;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  cursor: pointer;
}

//header

.dev-profile__header-container {
  max-width: 1465px;
  margin: 0 auto;
  padding: 0 20px;
}

.dev-profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dev-profile__header-left-wrapper {
  display: flex;
  align-items: center;
}

.dev-profile__header-logo {
  color: #0050c8;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dev-profile__header-label {
  margin-left: 16px;
  position: relative;

  &::after {
    content: url("../../Assets/Icons/search.svg");
    position: absolute;
    right: 15px;
    top: 7px;
  }
}

.dev-profile__header-search-input {
  padding: 8px 48px 8px 12px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #bfd4ff;
  background: #fff;
  font-size: 12px;
}

.dev-profile__header-right-wrapper {
  display: flex;
  align-items: center;
}

.dev-profile__nav-list {
  display: flex;
  align-items: center;
  // gap: 32px;
}

.dev-profile__nav-item {
  padding: 15px 16px 15px 16px;
  cursor: pointer;
}

.dev-profile__nav-item:hover {
  background-color: #dadada;
}

.dev-profile__account-wrapper {
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
}

.dev-profile__account-image {
  background-color: #0050c8;
  padding: 11px;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dev-profile__account-name {
  color: #212121;
  font-size: 19px;
  font-weight: bolder;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5px;
}

.dev-profile__account-nation {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

//main

.dev-profile__main {
  background: #f3f3f3;
}

.dev-profile__info-section-container {
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.dev-profile__info-section {
  padding-top: 30px;
  //all child elements accept this font size as a default
  font-size: 13px;
}

.dev-profile__dev-name {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: larger;
}

.dev-profile__info-wrapper {
  padding: 12px 20px;
  background-color: #627dac7b;
  border-radius: 4px;
  border: 1px solid rgba(19, 17, 154, 0.251);
  margin-bottom: 10px;
}

.dev-profile__title {
  margin-bottom: 5px;
  font-size: 16px;
  color: #2f2f2f;
}

.dev-profile__text {
  color: #2f2f2f;
  width: 330px;
}

.dev-profile__info-wrapper-2 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dev-profile__text-2 {
  color: #2f2f2f;
}

.dev-profile__upload {
  padding: 7px 9px;
  background-color: #0050c8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 2ms ease-in-out;

  &:hover {
    background-color: #0050c8b3;
  }
}

.dev-profile__resume-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dev-profile__info-wrapper-3 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dev-profile__education-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dev-profile__info-wrapper-general {
  display: block;
}

.dev-profile__gen-info-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.dev-profile__gen-info-bottom-wrapper {
  padding: 12px 20px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px !important;
  border-style: solid;
  width: 100% !important;
}

.dev-profile__required {
  color: blue;
}

.dev-profile__info-wrapper-3a {
  margin-bottom: 20px;
  display: block;
}

.dev-profile__education-middle-wrapper {
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px !important;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  padding: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.dev-profile__input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dev-profile__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

//General inforamtion modal

.dev-profile__modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: #000, $alpha: 0.5);
  font-size: 13px;
}

.dev-profile__modal-wrapper {
  position: relative;
  margin: 50px auto;
  max-width: 80vw;
  max-height: 90%;
  transform: scale(1);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
    0 9px 46px 8px #0000001f;
  // pointer-events: auto;

  overflow-y: auto;

  // padding: 72px 40px 80px 40px;
}

.dev-profile__modal-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 20px;
}

.dev-profile__modal-title {
  font-weight: 600;
  font-size: 20px;
}

.dev-profile__modal-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background-color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.dev-profile__modal-body {
  padding: 24px;
  overflow-y: auto;
}

.dev-profile__general-modal-s {
  font-size: 13px;
  color: #5350505f;
}

.dev-profile__general-modal-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}

.dev-profile_general-modal-picture-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.dev-profile_general-picture {
  width: 50px;
  height: 50px;
}

.dev-profile__general-account-wrapper {
  padding: 0;
  margin: 0;
}

.dev-profile__general-modal-delete-button {
  background-color: rgba(255, 1, 1, 0.66);
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
}

//Modal inputs

.dev-profile__general-modal-input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

//React select flags custom styles

.menu-flags {
  width: 100%;
  & button {
    padding: 12px 12px;
    border: 0.5px solid #bfd4ff;
    border-radius: 4px;
    color: #000000;
    font-size: 18px;
    line-height: 1.428em;
    &::after {
      display: none;
    }
  }
}

.select-flags-label {
  position: absolute;
  // bottom: 50%;
  left: 20px;
  z-index: 10;
  padding: 2px;
  // color: #656565;
  color: #000000de;
  font-size: 12px;
  font-weight: 400;
  transform: translateY(-50%);
  background-color: #fff;
  transition: ease-out 0.15s;
  transition-property: bottom, color, transform;
}

.select-flags-wrapper {
  position: relative;
  width: 100%;
}

//Phone input

.dev-profile__general-modal-input-wrapper-2 {
  width: calc(50% - 8px);
}

.PhoneInput {
  padding: 12px 20px;
  width: 30%;
  // min-width: 300px;
  border: 0.5px solid #bfd4ff;
  border-radius: 4px;
  color: #000000;
  font-size: 18px;
  line-height: 1.428em;
  position: relative;
}

.PhoneInput--focus {
}

.PhoneInputCountrySelect {
}

.PhoneInputCountry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.PhoneInputCountryIcon {
  display: none;
}

.dev-profile__general-modal-generator-btn {
  all: unset;
  padding: 12px 16px;
  color: #ffffff;
  border-radius: 4px;
  background: linear-gradient(to left, #b24592, #f15f79);
  cursor: pointer;
  font-weight: 700;
}

.dev-profile__general-modal-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dev-profile__general-modal-linkedin-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.dev-profile__general-modal-linkedin-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #bfd4ff;
  border-left: 0.5px solid #bfd4ff;
  border-bottom: 0.5px solid #bfd4ff;
  border-radius: 4px 0px 0px 4px;
  padding: 16px;
}

.dev-profile__general-modal-in-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.dev-profile__general-modal-linkedin-input {
  padding: 12px 20px;
  border: 0.5px solid #bfd4ff;
  border-radius: 4px;
  color: #000000;
  font-size: 18px;
  line-height: 1.428em;
  outline: none;
  border-radius: 0;
  flex: 1 1 auto;
  width: 1%;
}

.dev-profile__general-modal-linkedin-btn {
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 0 0 1px;
  background: transparent;
  color: #0050c8;
  border: 0.5px solid #bfd4ff;
  padding: 12px 16px;
  font-weight: 600;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  &:hover {
    background: #0050c80e;
  }
}

.dev-profile__gen-info-middle-inner-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dev-profile__general-modal-linkedin-text {
  color: #000000de;
  margin-bottom: 40px;
}

.dev-profile__modal-save-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

//Avialable for jobs modal

.dev-profile-exp-modal-input-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 60px;
}

.dev-profile__avia-modal-main-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-bottom: 30px;
}

.dev-profile-avia-modal-input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 60px;
}

.dev-profile__avia-modal-text-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.dev-profile__avia-modal-label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 16px;
  border-radius: 4px;
  border-width: 1px !important;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  //custom
  // margin-top: 1em;
}

.dev-profile__avia-modal-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 2px solid #757575;
  border-radius: 50%;
  display: grid;
  place-content: center;
  // transform: translateY(-0.075em);
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s,
      box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-color: #0050c8;
  }
  &:checked::before {
    transform: scale(1);
    border-color: #0050c8;
  }
}
//Role and salary

.dev-profile-role-modal-body {
  padding-top: 0;
  overflow: unset;
}

.dev-profile-role-modal-inputs-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 70px;
}

.dev-profile-role-modal-input-wrapper {
  position: relative;
  width: 100%;
}

.dev-profile-role-modal-salary-input {
  padding: 12px 20px;
  width: 100%;
  // min-width: 300px;
  border: 0.5px solid #bfd4ff;
  border-radius: 4px;
  color: #000000;
  font-size: 15px;
  line-height: 1.428em;
  &:focus {
    border: 1px solid #2b6def;
    outline: none;
    & + .dev-profile-role-modal-salary-label {
      color: #000000de;
    }
  }
  & + .dev-profile-role-modal-salary-label {
    bottom: 100%;
    transform: translateY(150%);
  }

  &.filled + label,
  &:focus + label,
  &:valid + label {
    transform: translateY(50%);
    font-size: 12px;
  }
}

.dev-profile-role-modal-salary-label {
  position: absolute;
  bottom: 50%;
  left: 20px;
  z-index: 10;
  padding: 2px;
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  transform: translateY(50%);
  background-color: #fff;
  transition: ease-out 0.15s;
  transition-property: bottom, color, transform;
}

//Skills and languages modal

.dev-profile__modal-inputs-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  align-items: flex-end;
}

.dev-profile__skills-modal-wrapper-1 {
  align-items: center;
}

.dev-profile-skills-modal-delete {
  margin-top: 17px;
  cursor: pointer;
}

.dev-profile__skills-modal-menu-wrapper {
  width: 75%;
}

.dev-profile__skills-modal-label {
  font-size: larger;
}

.dev-profile__skills-modal-skills-wrapper {
  width: 100%;
}

.dev-profile__skills-modal-lang-wrapper {
  width: 100%;
}

//React date picker

.dev-profile__work-exp-modal-date-picker-input {
  width: 100%;
  padding: 12px 20px;
  width: 100%;
  border: 0.5px solid #bfd4ff;
  border-radius: 4px;
  color: #000000;
  font-size: 18px;
  line-height: 1.428em;
  outline: none;
}

.dev-profile__modal-date-picker-wrapper {
  width: 100%;
  position: relative;
  z-index: 100;
}

.dev-profile__modal-date-wrapper {
  width: 100%;
}

.dev-profile__work-exp-modal-checkbox-text {
  color: #77a4fe;
  font-weight: 600;
  font-size: larger;
}

.dev-profile__work-exp-modal-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.dev-profile__work-exp-modal-flags-wrapper {
  margin-bottom: 16px;
}

.dev-profile__auto-gen-btn-wrapper {
  text-align: right;
  margin-bottom: 2px;
}

.dev-profile__work-exp-modal-textarea-wrapper {
  margin-bottom: 16px;
}

.dev-profile__work-exp-modal-react-select {
  margin-bottom: 16px;
}

.dev-profile__edu-modal-select-wrapper {
  margin-top: 16px;
}

.mySelect-dev-profile-edu__value-container {
  height: 49px;
  cursor: pointer;
  padding: 6px;
}
