//* Import fonts
@import "fonts.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
}

.container {
  //* Your container site here👇🏻

  width: 100%;
  margin: 0 auto !important;
}

ul {
  margin: 0;
  padding: 0;

  & li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

//***   MOBILE   ***//

@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px !important;
  }
}


.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border: none !important;
}
