.blue-button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  background: #0050c8;
  padding: 21px 59px;
  cursor: pointer;
  transition: 150ms all ease-in-out;

  &:hover {
    background: rgba($color: #4c7bc1, $alpha: 1);
  }
}
